body {
    background-image: url("/img/geekwise-stay-healthy.png");
}

* {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
    /* height: 300px;  */
  }
  
  /* Clear floats after the columns */
  .row:after {
    display: table;
    clear: both;
  }

 h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}